.home{
    background-color: white;
}
.corona-top-heading-div{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: whitesmoke;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
}
.global-cases-container{
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    text-align: center;
}
.global-para-heading{
    font-size: 40px;
}
.total-record{
    margin-top: -50px;
    color: rgb(64, 61, 61);
}
.para1{
    color: blue;
}
.para2{
    color: red;
}
.para3{
    color: green;
}
.country-records-conatiner{
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.all-countries-table{
    width: 100%;
    font-weight: bold;
    color: rgb(65, 60, 60);
}
thead th{
    font-size: 20px;
    color: rgba(65, 60, 60, 0.829);
}
.sort{
    cursor: pointer;
    background-color: lightblue;
}
.country-sort{
    background-color: pink;
    cursor: pointer;
}
.Bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.global-plot{
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}
.country-search-div{
    margin-top: 100px;
    text-align: center;
}
.country-search-div>input{
    width: 250px;
    height: 20px;
}
.country-search-div>button{
    height: 27px;
}
.single-country-container{
    height: 450px;
    margin-top: 20px;
    width: 90%;
    border: 1px solid black;
    background-color: turquoise;
    position: absolute;
    margin-left: 5%;
}
.single-country-table{
      margin: auto;
}