.home{
    background-color: white;
}
.corona-top-heading-div{
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    text-align: center;
}
.global-cases-container{
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    text-align: center;
}
.global-para-heading{
    font-size: 40px;
}
.total-record{
    margin-top: -50px;
    color: rgb(64, 61, 61);
}
.para1{
    color: blue;
}
.para2{
    color: red;
}
.para3{
    color: green;
}
.country-records-conatiner{
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.all-countries-table{
    width: 100%;
    font-weight: bold;
    color: rgb(65, 60, 60);
}
thead th{
    font-size: 20px;
    color: rgba(65, 60, 60, 0.829);
}
.sort{
    cursor: pointer;
    background-color: lightblue;
}
.country-sort{
    background-color: pink;
    cursor: pointer;
}
.Bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.global-plot{
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}